<div class=" sidebar" *ngIf="isOpen">
  <ul class="nav-list mt-3">
    <li><a routerLink="/accueil-student/home" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bx-grid-alt fs-6'></i> Accueil</a></li>
    <li><a routerLink="/accueil-student/add-reservation" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-wrench fs-6 '></i> Faire un Reservation</a></li>
    <li><a routerLink="/accueil-student/list-reservation" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-flask fs-6'></i> Mes Reservations</a></li>
  </ul>
</div>
