<div class=" sidebar" *ngIf="isOpen">
  <ul class="nav-list mt-3">
    <li><a routerLink="/accueil-admin/home" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bx-grid-alt fs-6'></i> Tableau de bord</a></li>
    <li><a routerLink="/accueil-admin/list-equipements" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-wrench fs-6 '></i> Equipments</a></li>
    <li><a routerLink="/accueil-admin/list-laboratory" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-flask fs-6'></i> Laboratoires</a></li>
    <li><a routerLink="/dashboard" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-calendar-check fs-6' ></i> Reservations</a></li>
    <li><a routerLink="/dashboard" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-group fs-6'></i> Utilisateurs</a></li>
    <li><a routerLink="/dashboard" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class='bx bxs-group fs-6'></i> Statistiques</a></li>
    <li><a routerLink="/dashboard" class="fs-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="bx bx-cog fs-6"></i> Parametre</a></li>

  </ul>
</div>
