/* 📌 Conteneur global */
.app-container {
  display: flex;
  height: 100vh;
}
app-sidebar{
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

/* 📌 Contenu principal */
.main-content {
  flex-grow: 1;
  margin-left: 200px; /* ✅ Espace pour le Sidebar */
  transition: margin-left 0.3s ease;
}

/* 📌 Si le Sidebar est fermé */
.main-content.collapsed {
  margin-left: 0; /* ✅ Réajuste le contenu */
}

.content{
  margin-top: 68px; /* Décale sous le header */
  padding: 20px;
  background: #f4f4f4;
  height: calc(100vh - 68px);
  overflow-y: auto;

}
